body{
    background-color: gray;
    height: 100vh;
    color: white;
    background-image: n;
}
.container{
width: 30%;
height: 10%
background-color: black;
margin: 0% auto;
border-radius: 25px;
}
.header{

    width: 30%
    height: fit-content;
    margin: 0 auto;
    text-align: center;
}
. header img {
     width: 50px;
     height: auto;
     border-radius: 5%;
}

.content{

}

.footer{
    text-align: center;
    margin: 5px;
}